# Environment Configuration
NODE_ENV=development
PORT=3000

# Database (PostgreSQL)
DATABASE_URL="postgresql://valencourt_user:valencourt_pass@localhost:5432/valencourt_db?schema=public"

# NextAuth Configuration
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="maison-valencourt-dev-secret-key-32chars-min"

# Admin Initial Seed Credentials
ADMIN_INITIAL_EMAIL="director@valencourt.atelier"
ADMIN_INITIAL_PASSWORD="ValencourtAtelier2026!"
